@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;400;800&display=swap");

* {
  box-sizing: border-box;
  font-family: "Martian Mono", monospace;
  margin: 0;
  padding: 0;
}
